*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{

	font-family: 'Birthstone', cursive;
font-family: 'EB Garamond', serif;
background-color: rgb(51,51,51);
	background-color: #eeeeee;
}


/*header*/
h1{
	color: white;
}
.cover {
	
	background-image: linear-gradient(rgba(5, 10, 5, 0.00), rgba(90, 40, 90, 0.80)), url(./img/fondo.jfif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.navbar {
	width: 80%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;

}

.navbar ul li a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem; 
}

.navbar ul li::before {
	content: "";
	height: 3px;
	width:0%;
	background: rgba(70,203,253,0.7);
	position: absolute;
	left: 0px;
	bottom: -12px;
	transition: 0.4s ease-out;
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-ms-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
}

.navbar ul li:hover::before {

	width: 100%;



}

/*menu*/

/*
.header-menu-wrapper{
	margin: 0;
	padding: 0;
	font-size: 0; 
	list-style: none;
	 box-shadow: 0px 0px 5px #ccc;
	 background-color: #5e60ce;
	 border-radius: 7px;

}

.header-menu-item{
	display: inline-block;
	font-size: 18px;
}

.header-menu-link{
	height: 60px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	line-height:  60px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
}


.header-menu-link:hover{
	background-color: #5e60ce;
	border-radius: 5px;
	   box-shadow: 0px 0px 5px #ccc;
}
*/

.cover-wrapper{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;

}

.cover-photo{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.cover-text{
	background-color: rgba(70,203,253,0.7);
	color: #ffffff;
	display: inline-block;
	padding: 30px;
}

.cover-title{
	font-size: 36px;
	margin: 10px;
	text-transform: uppercase;
}


/*
.title-underline{
	color: #606068;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	text-decoration: underline;
	
}*/

.clearfix{
    clear:both;
    float:none;
}


/*javascript effect*/
.ml6 {

  position: relative;
  font-weight: 200;
 font-size:30px;
  font-family: "Futura", serif;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}


/*skills*/


.cover-description span {
	color: #765bf6;
	font-weight: 700;
}



/*slider*/








/*contacto*/

.card {
	width: 40%;
	margin: 0px auto;
}
.navbar-nav-svg{
	width: 50px;
	

}




/*footer*/

/*RESPONSIVE*/



@media (max-width: 850px){
	.skills-text{
		margin:0px;
	}
	.skills-bar{
		height: 20px;
	}

	.skills-bar-fulling{
		height: 20px;
	}

}






@media (max-width: 766px){
	.skills-name{
		font-size: 11px;
	}
		.skills-name img{
		width: 34px;
	}


	.cover-text{
		padding: 5px;


	}

	.cover{
		height: 30
	}


	strong{
		font-size: 17px;
	}


.text-wrapper  .letters{
	font-size: 24px;

}


a strong{
	font-size: 13px;
}


	}


	
@media (max-width: 622px){
	.mapouter{
		display:none;
	}

}



@media (max-width: 378px){


	.text-wrapper .letters{
		font-size: 13px
	}


.skills-text .skills-name {
	    font-size: 13px
}

.skills-bar{
	height: 15px;
}

.skills-bar-fulling{
	height: 15px;
}

}

@media (max-width: 579px){
	.bg-image{
		margin: 0px auto;
		width: 40%;
	
	}
}
/*
@media (max-width: 430px){
	.cover-description{
		font-size: 14px;
	}

	.cover-description h5{
		font-size: 14px;
	}
}
*/


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/*@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

*/


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/*@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
 margin:0;
 font-size: 11px;
 display: inline-block;



}
*/


/* Add a black background color to the top navigation 
.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 98.5%;
  height: 60px;

  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;

}

 Style the links inside the navigation bar 
.topnav a {
  height: 45px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;

	text-transform: uppercase;
	line-height:  60px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 700;
	margin-top: 5px;

}

 Change the color of links on hover 
.topnav a:hover {
 background-color: #5e60ce;
	border-radius: 5px;
	   margin: 5px;


}
  }*/









